@model IEnumerable<R.DAL.Context.travel>

@{
    ViewBag.Title = "iii";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>iii</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date_start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_arrive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agency.agency_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ville.ville_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ville1.ville_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_arrive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agency.agency_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ville.ville_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ville1.ville_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
