@model R.DAL.Context.travel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ml-auto d-flex align-items-center secondary-menu text-center">
    <a href="@Url.Action("Travel","Default")" class="tooltip-wrapper">
        <i class="dripicons dripicons-reply" style="font-size: 26px; color:blueviolet"></i>
    </a>
    <br />



</div>
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



<!-- start Validation row -->
<div class="row formavlidation-wrapper">
    <div class="col-xl-6">
        <div class="card card-statistics">
            <div class="card-header">
                <div class="card-heading">
                    <h4 class="card-title">Edit Travel No.@ViewBag.id</h4>
                </div>
            </div>
            <div class="card-body">
                <form id="signupForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label" for="lname">Beginning</label>
                        <div class="mb-2">
                            @Html.DropDownList("beginning", null, htmlAttributes: new { @class = "form-control" })
                            @*<input type="text" class="form-control" id="lname" name="lname" placeholder="Last name" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="lname">Destination</label>
                        <div class="mb-2">
                            @Html.DropDownList("destination", null, htmlAttributes: new { @class = "form-control" })
                            @*<input type="text" class="form-control" id="lname" name="lname" placeholder="Last name" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="uname">Start Time</label>
                        <div class="mb-2">

                            @Html.EditorFor(model => model.date_start, new { htmlAttributes = new { @class = "form-control", type = "time" } })


                            @*<input type="text" class="form-control" id="uname" name="uname" placeholder="Username" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="uname">Arrive Time</label>
                        <div class="mb-2">

                            @Html.EditorFor(model => model.date_arrive, new { htmlAttributes = new { @class = "form-control", type = "time" } })


                            @*<input type="text" class="form-control" id="uname" name="uname" placeholder="Username" />*@
                        </div>
                    </div>
                   

                    <div class="form-group">

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Edit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
}
<!-- end Validation row  -->


